<%# Locals expected:
  active,
%>
<html>
  <head>
    <title>Highlander Today!</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="style.css" />
  </head>
  <body>
    <%- include('nav', {active: active}); %>
    <%- include('footer'); %>
  </body>
</html>
