html {
  height: 100%;
}
body {
  min-height: 100%;
}
.navbar {
  border-radius: 0;
}
.footer {
  background-color: lightgrey;
  position: absolute;
  bottom: 0;
  width: 100vw;
  height: 10vh;
}
.center {
  display:table;
  margin: 0 auto;
}
